/* Adicionar aqui toda a estilização criada para sua aplicação. */
body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --azul: #32b9cd;
    --amarela: #e3b062;
}
/*HEADER*/
.header {
    background-color: black;
    border-bottom: 3px solid var(--azul); /*borda ao fim do header*/
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: var(--azul);
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarela);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarela);
    text-decoration: none;
    font-size: 18px;
}

.agora {
    font-weight: bolder;
}
/*BANNER*/

.banner {
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
}

.banner .container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

/*MISSAO VISAO VALORES*/

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.boxes {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.box {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e4005a;
    font-weight: 700;
}

/*FOOTER*/

.footer {
    height: 80px;
    width: 100%;
    background-color: var(--azul);
}
 .footer .container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: white;
 }

 .footer h4 {
    margin-bottom: 0;
 }

 /*Tela de login*/
 .login {
    height: 580px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login .container {
    background-color: #dcdcdc;
    padding: 10px 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 500px; 
    text-align: center;
  }
  
  h2 {
    font-size: 34px;
    color: #e4005a;
    margin-bottom: 30px;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario .campo {
    width: 100%;
    max-width: 400px;
    margin-bottom: 5px;
  }
  
  .formulario span {
    display: block;
    margin-bottom: 5px;
    color: #e4005a;
    font-weight: bold;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--azul);
    border-radius: 10px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .botao {
    background-color: #e4005a;
    color: white;
    border: none;
    padding: 12px;
    font-size: 18px;
    width: 40%;
    max-width: 150px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
  }
 
    